@use 'src/sass/mixins/index' as mixins;
@use 'src/sass/variables/index' as vars;

.Select-node {
  position: relative;
  &-button {
    @include mixins.button(lighten(vars.$Navigation-bg, 4%));
    color: white;
  }
  &-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  &-dropdown {
    position: absolute;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    border: 1px solid vars.$border-color;
    min-width: 225px;
    right: 0;
    border-radius: vars.$border-radius;
    box-shadow: vars.$box-shadow;

    @include mixins.RTG-fade;
  }
  &-nodes {
    font-size: 1rem;
    font-weight: 400;
    color: vars.$text-color;
    text-align: right;
    margin: 1rem 0;
  }
  &-node {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    cursor: pointer;
    padding: 0.5rem 1.5rem;
    height: 3rem;
    transition: background-color vars.$transition;
    button.settings {
      @include mixins.icon-button(vars.$text-color);
      margin-left: -0.5rem;
      opacity: 0;
      @media screen and (max-width: 800px) {
        opacity: 0.6;
      }
      &:focus {
        opacity: 1;
      }
    }
    > p {
      overflow-x: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      max-width: 14rem;
      pointer-events: none;
    }
    > .selected-marker {
      position: absolute;
      top: 0;
      left: 0;
      width: 4px;
      height: 100%;
      transition: background-color vars.$transition;
      background-color: transparent;
    }
    &.selected {
      background-color: vars.$hover-color;
      > .selected-marker {
        background-color: vars.$secondary-color;
      }
      button.settings {
        opacity: 0.6;
      }
    }
    &:hover {
      background-color: vars.$hover-color;
      &:not(.selected) button.settings {
        opacity: 0.3;
      }
    }
  }
  &-add {
    @include mixins.button(vars.$secondary-color);
    margin: 1rem;
    margin-top: 0;
  }
}

.Add-Node,
.Configure-Node {
  width: 460px;
}
