@use 'src/sass/variables/index' as vars;
@use 'src/sass/mixins/index' as mixins;

.Search {
  @include mixins.input-reset;
  background-color: lighten(vars.$Navigation-bg, 4%);
  border-radius: vars.$border-radius;
  color: white;
  font-size: 1rem;
  font-weight: 500;
  margin: 0 1rem;
  max-width: 768px;
  padding: 0.75rem 1rem;
  transition: box-shadow vars.$transition;
  width: 100%;
  @media screen and (max-width: 800px) {
    margin: 0;
  }
  &::placeholder {
    color: white;
    text-align: center;
    opacity: 1;
  }
  &:focus {
    box-shadow: vars.$box-shadow;
  }
}
